body {
    margin: 0;
    background-color: black;
    font-family: 'Abel', sans-serif;
    color: white;
}

.gridContainer {
    margin: 0;
    height: auto;
    max-width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto 15rem 15rem 15rem 15rem auto;
    grid-template-areas:
    "header header header header header header"
    "headerUnderline headerUnderline headerUnderline headerUnderline headerUnderline headerUnderline"
    ". introduction introduction pictureOfMe pictureOfMe ."
    ". whiteLine whiteLine whiteLine whiteLine ."
    ". htmlLogoContainer . . . ."
    ". cssLogo . . . ."
    ". javascriptLogo . . . ."
    ". photoshopLogo . . . ."
    ". sonyvegasLogo . . . ."
    ". jpgLogo . . . .";
}

/* HEADER AND HEADERANIMATION */

header {
    grid-area: header;
    margin: 0;
    padding: 0;
}

@keyframes fadeScale {
    0% {
        transform: scale3d(.90, .90, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

header h1 {
    font-family: 'Dancing Script', cursive;
    display: flex;
    padding: 0.4rem 0;
    margin: 0;
    justify-content: center;
    font-size: 4rem;
    animation-name: fadeScale;
    animation-duration: 4s;
}

/* HEADERUNDERLINE AND HEADERUNDERLINE ANIMATION */

@keyframes expandLeftRight {
    0% {
        transform: scale3d(0, 1, 0);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

.headerUnderline {
    grid-area: headerUnderline;
    display: flex;
    justify-content: center;
    height: 0.2rem;
    background-image: linear-gradient(to left, orange, red, orange);
    animation-name: expandLeftRight;
    animation-duration: 2s;
    transform-origin: center;
}

/* INTRO */

.introduction {
    grid-area: introduction;
    margin: 0;
    padding: 1rem;
}

.introduction p {
    margin: 0;
}

.pictureOfMe {
    grid-area: pictureOfMe;
    padding: 1rem;
    height: auto;
    width: 20rem;
}

/* SIMPLE WHITE DIVIDING LINE */

.whiteLine {
    grid-area: whiteLine;
    background-color: white;
    height: 0.1rem;
    width: auto;
}

/* HTMLLOGO AND HTMLLOGO ANIMATION */

.htmlLogoContainer {
    grid-area: htmlLogoContainer;
    margin: 2rem auto;
}

@keyframes smaller {
    0% {
        transform: scale3d(1, 1, 1);
    }
    100% {
        transform: scale3d(0.80, 0.80, 1);
    }
}

.htmlLogo {
    height: auto;
    width: 6rem;
    padding: 0;
    margin: auto;
}

.htmlLogo:hover {
    animation-name: smaller;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


.htmlLogoContainer .span {

}

.cssLogo {
    grid-area: cssLogo;
    height: auto;
    width: 6rem;
    margin: 2rem auto;
}

.javascriptLogo {
    grid-area: javascriptLogo;
    height: auto;
    width: 6rem;
    margin: 2rem auto;
}

.photoshopLogo {
    grid-area: photoshopLogo;
    height: auto;
    width: 6rem;
    margin: 2rem auto;
}

.jpgLogo {
    grid-area: jpgLogo;
    height: auto;
    width: 6rem;
    margin: 2rem auto;
}

.sonyvegasLogo {
    grid-area: sonyvegasLogo;
    height: auto;
    width: 6rem;
    margin: 2rem auto;
}