body {
    margin: 0;
    background-color: black;
    font-family: 'Abel', sans-serif;
    color: white;
    background: repeat linear-gradient(#ee7752, #e73c7e, #23a6d5, #23d5ab, #ee7752);
}

#topButton {
    display: none;
    position: fixed;
    bottom: 1.25rem;
    right: 1.875rem;
    font-size: medium;
    z-index: 50;
    border: white 0.05rem solid;
    outline: none;
    background: radial-gradient(rgb(255, 76, 76),red);
    color: white;
    cursor: pointer;
    padding: 1rem;
    border-radius: 0.7rem;
    box-shadow: 0.2rem 0.2rem 0.4rem black;
  }
  
  #topButton:hover {
    background: red;
  }

.gridContainer {
    margin: 0;
    height: auto;
    max-width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto 15rem 15rem 15rem 15rem auto;
    grid-template-areas:
    "header header header header header header"
    "headerUnderline headerUnderline headerUnderline headerUnderline headerUnderline headerUnderline"
    ". introduction introduction pictureOfMe pictureOfMe ."
    ". whiteLine whiteLine whiteLine whiteLine ."
    ". htmlLogoContainer htmlInfoContainer htmlInfoContainer htmlInfoContainer ."
    ". cssLogoContainer cssInfoContainer cssInfoContainer cssInfoContainer ."
    ". javascriptLogoContainer javascriptInfoContainer javascriptInfoContainer javascriptInfoContainer ."
    ". photoshopLogoContainer photoshopInfoContainer photoshopInfoContainer photoshopInfoContainer ."
    ". jpgLogoContainer jpgInfoContainer jpgInfoContainer jpgInfoContainer ."
    ". sonyvegasLogoContainer sonyvegasInfoContainer sonyvegasInfoContainer sonyvegasInfoContainer ."
    "footer footer footer footer footer footer";
}

/* HEADER AND HEADERANIMATION */

header {
    grid-area: header;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

/* @keyframes scale {
    0% {
        transform: scale3d(.90, .90, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
} */

#headerText {
    display: flex;
    width: auto;
    height: 3rem;
    padding: 0;
    margin: 0.4rem 0;
    justify-content: center;
    /* animation: scale 4s; */
    animation: fill 0.5s ease forwards 2s;
}

#headerText path:nth-child(1) {
    stroke-dasharray: 326;
    stroke-dashoffset: 326;
    animation: line-anim 2s ease forwards;
}

#headerText path:nth-child(2) {
    stroke-dasharray: 402;
    stroke-dashoffset: 402;
    animation: line-anim 2s ease forwards;
}

#headerText path:nth-child(3) {
    stroke-dasharray: 224;
    stroke-dashoffset: 224;
    animation: line-anim 2s ease forwards;
}

#headerText path:nth-child(4) {
    stroke-dasharray: 377;
    stroke-dashoffset: 377;
    animation: line-anim 2s ease forwards;
}

#headerText path:nth-child(5) {
    stroke-dasharray: 402;
    stroke-dashoffset: 402;
    animation: line-anim 2s ease forwards;
}

#headerText path:nth-child(6) {
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    animation: line-anim 2s ease forwards;
}

#headerText path:nth-child(7) {
    stroke-dasharray: 356;
    stroke-dashoffset: 356;
    animation: line-anim 2s ease forwards;
}

#headerText path:nth-child(8) {
    stroke-dasharray: 503;
    stroke-dashoffset: 503;
    animation: line-anim 2s ease forwards;
}

#headerText path:nth-child(9) {
    stroke-dasharray: 326;
    stroke-dashoffset: 326;
    animation: line-anim 2s ease forwards;
}

#headerText path:nth-child(10) {
    stroke-dasharray: 402;
    stroke-dashoffset: 402;
    animation: line-anim 2s ease forwards;
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: white;
    }
}

/* HEADERUNDERLINE AND HEADERUNDERLINE ANIMATION */

@keyframes expandLeftRight {
    0% {
        transform: scale3d(0, 1, 0);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

.headerUnderline {
    grid-area: headerUnderline;
    display: flex;
    justify-content: center;
    height: 0.2rem;
    background-image: linear-gradient(to left, orange, red, orange);
    animation-name: expandLeftRight;
    animation-duration: 2s;
    transform-origin: center;
}

/* INTRO */

#clock {
    font-size: x-large;
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}

#changeBackground {
    position: relative;
    top: -2rem;
    left: 17.5rem;
    width: 10rem;
    height: 2rem;
    border: 0;
    outline: 0;
    font-size: small;
    z-index: 50;
    border: white solid 0.05rem;
    outline: none;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    cursor: pointer;
    padding: 0.2rem;
}

.introduction {
    grid-area: introduction;
    margin: 0;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.introduction p {
    margin-bottom: 1rem;
    margin-top: 0;
    padding: 0;
}

.pictureOfMe {
    grid-area: pictureOfMe;
    margin: 1rem;
    height: auto;
    width: 20rem;
    box-shadow: 0.2rem 0.2rem 0.4rem black;
}

/* SIMPLE WHITE DIVIDING LINE */

.whiteLine {
    grid-area: whiteLine;
    background-color: white;
    height: 0.1rem;
    width: auto;
}

/* LOGOS, LOGOS ANIMATION AND TEXT */

@keyframes smaller {
    0% {
        transform: scale3d(1, 1, 1);
    }
    100% {
        transform: scale3d(0.80, 0.80, 1);
    }
}

@keyframes fullOpacityBorderAnimation {
    0% {
        visibility: visible;
        opacity: 0;
    }

    50% {
        visibility: visible;
        opacity: 1;
    }

    100% {
        visibility: visible;
        opacity: 1;
        stroke-dashoffset: 0;
    }
}

.logoBorder {
    position: absolute;
    height: auto;
    width: 7rem;
    visibility: hidden;
}

.sonyvegasLogoBorder {
    position: absolute;
    height: auto;
    width: 7rem;
    visibility: hidden;
}

/* SKILL INFO */

.skillSectionSmallScreen { /* FOR SMALLER SCREENS */
    display: none;
}

.skillText {
    margin-top: 2rem;
    margin-bottom: 0;
}

.skillLogo {
    height: auto;
    width: 6rem;
    padding: 0;
    margin: auto;
    z-index: 10;
}

.knowledgeLevel {
    height: auto;
    width: 20rem;
    image-rendering: crisp-edges;
}

/* HTML */

.htmlLogoContainer {
    grid-area: htmlLogoContainer;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.htmlLogoContainer:hover > .skillLogo {
    animation: smaller 1s forwards;
}

.htmlLogoContainer:hover > .logoBorder{
    animation: fullOpacityBorderAnimation 1.5s ease forwards;
    animation-delay: 0.2s;
    stroke-dasharray: 970;
    stroke-dashoffset: 970;
}

.htmlInfoContainer {
    grid-area: htmlInfoContainer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CSS */

.cssLogoContainer {
    grid-area: cssLogoContainer;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cssLogoContainer:hover > .skillLogo {
    animation: smaller 1s forwards;
}

.cssLogoContainer:hover > .logoBorder{
    animation: fullOpacityBorderAnimation 1.5s ease forwards;
    animation-delay: 0.2s;
    stroke-dasharray: 970;
    stroke-dashoffset: 970;
}

.cssInfoContainer {
    grid-area: cssInfoContainer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* JAVASCRIPT */

.javascriptLogoContainer {
    grid-area: javascriptLogoContainer;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.javascriptLogoContainer:hover > .skillLogo {
    animation: smaller 1s forwards;
}

.javascriptLogoContainer:hover > .logoBorder{
    animation: fullOpacityBorderAnimation 1.5s ease forwards;
    animation-delay: 0.2s;
    stroke-dasharray: 970;
    stroke-dashoffset: 970;
}

.javascriptInfoContainer {
    grid-area: javascriptInfoContainer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* PHOTOSHOP */

.photoshopLogoContainer {
    grid-area: photoshopLogoContainer;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photoshopLogoContainer:hover > .skillLogo {
    animation: smaller 1s forwards;
}

.photoshopLogoContainer:hover > .logoBorder{
    animation: fullOpacityBorderAnimation 1.5s ease forwards;
    animation-delay: 0.2s;
    stroke-dasharray: 970;
    stroke-dashoffset: 970;
}

.photoshopInfoContainer {
    grid-area: photoshopInfoContainer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* JPG */

.jpgLogoContainer {
    grid-area: jpgLogoContainer;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jpgLogoContainer:hover > .skillLogo {
    animation: smaller 1s forwards;
}

.jpgLogoContainer:hover > .logoBorder{
    animation: fullOpacityBorderAnimation 1.5s ease forwards;
    animation-delay: 0.2s;
    stroke-dasharray: 970;
    stroke-dashoffset: 970;
}

.jpgInfoContainer {
    grid-area: jpgInfoContainer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* SONY VEGAS */

.sonyvegasLogoContainer {
    grid-area: sonyvegasLogoContainer;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sonyvegasLogoContainer:hover > .skillLogo {
    animation: smaller 1s forwards;
}

.sonyvegasLogoContainer:hover > .sonyvegasLogoBorder{
    animation: fullOpacityBorderAnimation 1.5s ease forwards;
    animation-delay: 0.2s;
    stroke-dasharray: 868;
    stroke-dashoffset: 868;
}

.sonyvegasInfoContainer {
    grid-area: sonyvegasInfoContainer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* FOOTER */

footer {
    grid-area: footer;
    display: grid;
    margin-top: 1rem;
    grid-template-rows: auto;
    grid-template-columns: auto 15rem 15rem 15rem 15rem auto;
    background: linear-gradient(to left, grey, white, grey);
    height: 6rem;
    width: auto;
    grid-template-areas:
    ". contactContainer contactContainer contactContainer contactContainer .";
}

.contactContainer {
    grid-area: contactContainer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactMe {
    font-size: x-large;
    margin: 0.6rem;
    color: grey;
}

.contactTextStyling {
    color: grey;
    font-family: 'Abel', sans-serif;
}

.fa-map-marker-alt {
    color: grey;
    margin-right: 2rem;
}

.fa-phone-alt {
    color: grey;
    margin-right: 2rem;
}

.fa-envelope {
    color: grey;
}